    <h1> Places I've been </h1>
    <ul>
    

  

    

    <p>
    <a href = "/post">  Charleston </a>
    </p>

    </p>
    <a href = "/post"> Beijing </a>
    <p>

    <p>
    <a href = "/post" > Amsterdam </a>
    </p>

    <p>
    <a href = "/places/new" > Add a new place! </a>
    </p>
    </ul>